.avatar-details{


.avatar{
  display: block;
  margin: 0 auto;
  position:relative;
  width:115px;
  height: 135px;
  background: grey;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -moz-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
 
  
  &--image{
    position: absolute;
    top: 9px; 
    left: 9px; 
    width:97px;
    height: 115px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%,  0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    -moz-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0%  25%);

    img{
      position: absolute;
      width: 100%; 
      height: 100%; 
      object-fit: cover;
      -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      -moz-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }
  }
}

}


.skill-data{

  &__heading{
    // color: red;
    font-size: 1.1rem;
  }
  &__master{

    &--wrapper:nth-child(1){
      font-size: 1.8rem;
    }

    &--wrapper{
      h6{
        outline: 1px solid red;
      }
    }
  }

  &__proficiency{
    //  margin-top: 20rem;
     &--wrapper:nth-child(1){
      font-size: 1.8rem;
    }
  }
}

