.navigation{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99; 
  width: 100%; 
  background-color: #27292D;
  //  overflow: hidden;
  // box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.75);
  // -webkit-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.75);
  // -moz-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.75);


  &--row{
    &__large-col{
      .brand-search{
        &--toggler-brand{
  
          .navbar-toggler{
            border: none;
            outline: transparent;

            .open, .close {
              font-size: 1.4em;
              outline: none;
              color: #fff;
            }

            .navbar-toggler-icon{

            }
          }

          .navbar-toggler:focus{
            border: none;
            outline: none;
          }

          .navbar-brand{
            color: #fff;
          }

          a{
            font-weight: 600;
            font-size: 1.6rem;
            span{
              font-weight: 600;
              text-transform: uppercase;
              color:olive;
              font-size: 1.2rem !important;
            }
          }
        }

        &__search-form{

          input {
            outline: none;
            background: transparent;
            border: none;
            // grid-column: 2 / 3;
          }

          input[type=search]{
            // grid-column: 2 / 3;
            -webkit-appearance: textfield;
            font-size: 100%;
            // width: 80%;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            transition: all .5s ease-in-out;
          }

          input[type=search]:focus {
            width: 30rem;
            transition: transform 5s ease-out; 
          }

          ::-webkit-input-placeholder{
            color: grey;
          }

          &--button{
            border: none;
            background: transparent;
            color: #fff;
            .icon{
              font-size: 1.5rem;
            }
          }

            border: 1px solid #fff;
            border-radius: 2%;
        }


      }

    }

    &__small-col{
      //  padding: 0 1.2rem;
      .sign-in{
        &--signin{
          text-decoration: none;
          color: olive;
          text-transform: uppercase;
          font-weight:500;
          padding: 0 1.2rem;
        }

        &--signin:hover{
          color: olive;
        }
      }
    }
  }



  // &--brand-search{
    // width: 65%;
    // position: relative;
    // display: grid;
    // grid-template-columns: auto auto;
    // grid-template-columns: repeat(2, 1fr);
      // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    //  column-gap: 270px;
    // gap: 24px;
    // gap: 240px;
    // grid-template-columns: minmax(150px, 75%) 1fr;

  // }

}





@media screen and (max-width:768px) {
    /* style ONLY for screens with 800px or less width */

    .navigation{
        &--row{
          &__large-col{
            .brand-search{
                &--search-form{
                  input[type=search]:focus {
                    width: 250px;
                    transition: transform 5s ease-out; 
                  }
                }
            }
          }
        }
    }
}


@media screen and (max-width:425px) {

  .navigation{

    &--row{
      &__large-col{
        .brand-search{
            &--search-form{
              input[type=search]:focus {
                // width: 250px;
                transition: transform 5s ease-out; 
              }

              input{
                display: none;
              }
            }
        }
      }
    }
  }
}

@media screen and (max-width:375px) {

  .navigation{

    &--row{

      &__large-col{
        .brand-search{
            &--search-form{
              input[type=search]:focus {
                // width: 250px;
                transition: transform 5s ease-out; 
              }

              input{
                display: none;
              }
            }
        }
      }

      &__small-col{
    
        .sign-in{
          &--signin{
            text-decoration: none;
            color: olive;
            text-transform: uppercase;
            font-weight:400;
            padding: 0;
          }

          &--signin:hover{
            color: olive;
          }
        }
      }
    }

    .sidebar {
      width: 70%;
    }
  }
}

@media screen and (max-width:320px) {

  .navigation{

    &--row{

      &__small-col{
    
        .sign-in{
          &--signin{
            text-decoration: none;
            color: olive;
            text-transform: uppercase;
            font-weight:400;
            padding: 0;
          }

          &--signin:hover{
            color: olive;
          }
        }
      }
    }
  }
}